<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../assets/vue.js"></script>
</head>

<body>
  <!-- 值绑定，将默认的value值也通过vue控制 -->
  <div id ="app">
    <label for="fruit" v-for="fruit of fruits">
      <input type="checkbox" :value="fruit" :id="fruit" v-model="likeFruits">{{fruit}}
    </label>
    <h2>
      {{likeFruits}}
    </h2>
  </div>

  <script>
   //创建Vue实例,得到 ViewModel
   const app = new Vue({
    el: '#app',
    data: {
      message: '你好啊',
      likeFruits: [],
      fruits: ['苹果', '香蕉', '葡萄'] //这里的数据可以通过后台获取得到
    },
    methods: {}
   });
  </script>
</body>

</html>